# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
venv/
env/

# IDEs
.vscode/
.idea/

# Next.js
admin-dashboard/.next/
admin-dashboard/out/
admin-dashboard/node_modules/
admin-dashboard/.env*.local

# Vercel
.vercel
